.vscode
.DS_Store
node_modules/
package-lock.json
yarn.lock
venv/
.env
0x01-Webpack/task_0/dist/main.*
0x01-Webpack/task_2/public/bundle.*
0x01-Webpack/task_2/public/*.jpg
0x01-Webpack/task_3/public/bundle.*
0x01-Webpack/task_3/public/*.jpg
